* {
  box-sizing: border-box; }

body {
  color: white;
  max-width: 1200px;
  padding: 1em 2em;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Input Serif', 'Open Sans', 'San Fransisco', sans-serif;
  background-color: #1a416d;
  font-weight: 100; }
  @media (max-width: 600px) {
    body {
      font-size: 16px; } }

footer {
  padding: 1em 0;
  text-align: center; }

a {
  color: #f16464; }

::-moz-selection {
  background-color: #ffd400;
  color: black; }

::selection {
  background-color: #ffd400;
  color: black; }

code {
  background: #f16464;
  font-size: .8em;
  padding: .2em; }

mark {
  background-color: #ffd400;
  padding: .2em; }

p {
  max-width: 40em;
  margin-left: 2em; }
  @media (max-width: 600px) {
    p {
      margin-left: 0em; } }

h2 {
  color: #f16464; }

small {
  margin-bottom: 2em;
  display: block;
  font-style: italic;
  font-size: 0.75em;
  margin-top: -2em; }

.preview-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .preview-area .iframe-preview {
    width: 49%;
    margin-bottom: 1em; }
    @media (max-width: 600px) {
      .preview-area .iframe-preview {
        width: 100%;
        display: block; } }
    .preview-area .iframe-preview iframe {
      outline: 1px solid black;
      width: 100%;
      min-height: 40vh;
      overflow: scroll;
      background-color: white; }
    .preview-area .iframe-preview input {
      width: 100%;
      margin-top: 1em;
      font-size: 1em;
      padding: .4em;
      font-family: 'Input Serif';
      border: none; }

.logo {
  max-width: 460px;
  background: white;
  padding: .5em;
  padding-left: 200px;
  margin-left: -220px; }

.overlay-area {
  position: relative;
  display: block;
  width: 100%;
  height: 65vh; }
  .overlay-area iframe {
    outline: 1px solid #f16464;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 65vh;
    background-color: white; }
    .overlay-area iframe:nth-child(2) {
      mix-blend-mode: difference; }
