// OVERVIEW

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  padding: 1em;
  margin: 0 auto;
}

// PREVIEW AREA

.preview-area{
  display: flex;
  width: 100%;
  justify-content: space-between;

  .iframe-preview {
    outline: red solid 1px;
    padding: 1em;
    width: 49%;
    margin-bottom: 1em;

    iframe {
      width: 100%;
      min-height: 300px;
      overflow: scroll;
    }

    input {
      width: 100%;
      font-size: 150%;
      margin-top: 1em;
      padding: .2em;
    }
  }
}

// overlay area

.overlay-area {
  position: relative;
  display: block;
  width: 100%;

  iframe {
    outline: 2px solid blue;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 50vh;

    &:nth-child(2) {
      mix-blend-mode: difference;
    }
  }
}