// VARS

$color--primary: #f16464;
$color--secondary: #4bf;
$color--tertiary: #eb6B8f;
$color--highlight: #ffd400;
$color--dark: black;
$color--bg: #1a416d;
$iframe-height: 70vh;

// UTILS

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-200.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-800.ttf') format('truetype');
  font-weight: 800;
}

// BASE LAYOUT

* {
  box-sizing: border-box;
}

body {
  color: white;
  max-width: 1200px;
  padding: 1em 2em;
  margin: 0 auto;
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Exo 2', 'Open Sans', 'San Fransisco', sans-serif;
  background-color: $color--bg;
  font-weight: 100;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

footer {
  padding: 1em 0;
  text-align: center;
}

a {
  color: $color--primary;
}

// TYPOGRAPHY

::selection {
  background-color: $color--highlight;
  color: $color--dark;
}

code {
  background: $color--primary;
  font-size: .8em;
  padding: .2em;
}

mark {
  background-color: $color--highlight;
  padding: .2em;
}

h1 {
}

p {
  max-width: 34em;
  margin-left: 2em;

  @media (max-width: 600px) {
    margin-left: 0em;
  }
}

h2 {
  color: $color--primary;
  margin-bottom: 0;
}

small {
  margin-bottom: 2em;
  display: block;
  font-style: italic;
  font-size: 0.75em;
}

// PREVIEW AREA

.preview-area{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  .iframe-preview {
    position: relative;
    width: 49%;
    margin-bottom: 1em;

    @media (max-width: 600px) {
      width: 100%;
      display: block;
    }

    iframe {
      outline: 1px solid black;
      width: 100%;
      min-height: 40vh;
      overflow: scroll;
      background-color: white;
    }

    input {
      width: 100%;
      margin-top: 1em;
      font-size: 1em;
      padding: .4em;
      font-family: 'Exo 2';
      border: none;
    }
  }
}

.logo {
  max-width: 260px;
}

.resize-note {
  float: right;
}

.change-note {
  position: absolute;
  top: -.5em;
  left: 1em;

  .arrow-up {
    transform: rotate(180deg);
  }
}

.arrow-up {
  width: 1em;
}

// OVERLAY AREA

.overlay-area {
  position: relative;
  overflow: auto;
  min-height: $iframe-height;
  cursor: pointer;

  iframe {
    outline: 1px solid $color--primary;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    pointer-events: none;

    &:nth-child(2) {
      mix-blend-mode: difference;
    }
  }
}

// switch hack https://stackoverflow.com/a/32721572/4266494
// fullscreen https://stackoverflow.com/a/28590801/4266494
#fullscreen {
  display: none;

  // when fullscreen on
  &:checked + label[for="fullscreen"] {
    .overlay-area {
      z-index: 9999;
      width: 100%;
      min-width: 100vh;
      height: 100%;
      min-height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}
